<!DOCTYPE html>
<html{{ html_attributes }}{{ rdf_namespaces }}>
<head>
    <link rel="profile" href="<?php print $grddl_profile; ?>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ head }}
    <title>{{ head_title }}</title>
    {{ styles }}
    <!-- HTML5 element support for IE6-8 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    {{ scripts }}
</head>
<body{{ body_attributes }}>
<div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">{{ 'Skip to main cintent'|t }}</a>
</div>
{{ page_top }}
<!-- {{ page }} -->
{{ page_bottom }}
</body>
</html>
